# Если добавляется файл в репозиторий, то необходимо его сюда добавить, т.к. иначе он будет игнорироваться СУВ

# Корень папки
*
!.gitignore
!README.md
!readmeRU.txt

# Инишники
INI/*
!INI/Battle.ini
!INI/BattleE.ini
!INI/LangFS.ini
!INI/MPMaps.ini
!INI/Tutorial.ini

# Миксы
MIX/*
!MIX/echache98.mix

# Ресурсы
Resources/*
!Resources/CampaignSelector.ini
!Resources/CheaterScreen.ini
!Resources/ClientDefinitions.ini
!Resources/CnCNetGameLobby.ini
!Resources/CnCNetLobby.ini
!Resources/GameCreationWindow.ini
!Resources/GameCreationWindow_Advanced.ini
!Resources/GameInProgressWindow.ini
!Resources/GameLoadingLobbyBase.ini
!Resources/GameLoadingWindow.ini
!Resources/GameLobbyBase.ini
!Resources/GameOptions.ini
!Resources/HotkeyConfigurationWindow.ini
!Resources/KeyboardCommands.ini
!Resources/LANGameCreationWindow.ini
!Resources/LANGameLobby.ini
!Resources/language_1024x720.dll
!Resources/language_800x600.dll
!Resources/LANLobby.ini
!Resources/MainMenu.ini
!Resources/MultiplayerGameLobby.ini
!Resources/OptionsWindow.ini
!Resources/PrivacyNotification.ini
!Resources/SkirmishLobby.ini
!Resources/StatisticsWindow.ini
!Resources/TopBar.ini
!Resources/UpdateQueryWindow.ini
!Resources/UpdateWindow.ini
!Resources/CnCNetLoginWindow.ini
!Resources/GameCreationWindow.ini
!Resources/MapSharingConfirmationPanel.ini
!Resources/PasswordRequestWindow.ini
!Resources/PrivateMessageNotificationBox.ini
!Resources/PrivateMessagingWindow.ini
# Темы
!Resources/GTTheme/MainMenu.ini
!Resources/NodTheme/MainMenu.ini
!Resources/GDITheme/MainMenu.ini

# Всё остальное
Client/*
Map Editor/*
Map Renderer/*
Saved Games/*
Screenshots/*
Maps/Survival/*
Maps/Custom/*
Maps/Default/*
Maps/Control Point/*
