# Если добавляется файл в репозиторий, то необходимо его сюда добавить, т.к. иначе он будет игнорироваться СУВ

# Корень папки
!.gitignore
!README.md
!readmeRU.txt
*

# Инишники
!INI/Battle.ini
!INI/BattleE.ini
!INI/LangFS.ini
!INI/MPMaps.ini
!INI/Tutorial.ini
INI/*

# Миксы
!MIX/echache98.mix
MIX/*

# Ресурсы
!CampaignSelector.ini
!CheaterScreen.ini
!ClientDefinitions.ini
!CnCNetGameLobby.ini
!CnCNetLobby.ini
!GameInProgressWindow.ini
!GameLoadingLobbyBase.ini
!GameLoadingWindow.ini
!GameLobbyBase.ini
!GameOptions.ini
!HotkeyConfigurationWindow.ini
!KeyboardCommands.ini
!LANGameCreationWindow.ini
!LANGameLobby.ini
!language_1024x720.dll
!language_800x600.dll
!LANLobby.ini
!MainMenu.ini
!MultiplayerGameLobby.ini
!OptionsWindow.ini
!PrivacyNotification.ini
!SkirmishLobby.ini
!StatisticsWindow.ini
!TopBar.ini
!UpdateQueryWindow.ini
!UpdateWindow.ini
!Resources/GTTheme/MainMenu.ini
!Resources/NodTheme/MainMenu.ini
!Resources/GDITheme/MainMenu.ini
Resources/*

# Всё остальное
Client/*
Map Editor/*
Map Renderer/*
Saved Games/*
Screenshots/*
Maps/Survival/*
Maps/Custom/*
Maps/Default/*
Maps/Control Point/*
