# Все файлы были получены через перенаправление стандартного вывода "git status".
# Если добавляется какой-то файл в репозиторий, который нужно отслеживать, то нужно проверить на его
# присутствие в этом файле. Потенциальные файлы, с которыми будут проблемы вероятнее всего находятся
# в папке Maps/Co-Op и Maps/Missions
Assets Policy.txt
Client/
INI/AI.ini
INI/Art.ini
INI/Game Options/
INI/Keyboard.ini
INI/Map Code/
INI/MapSel.ini
INI/Menu.ini
INI/Mission.ini
INI/Rules.ini
INI/Snow.ini
INI/Sounds.ini
INI/Tem.ini
INI/Theme.ini
Interop.WMPLib.dll
Ionic.Zip.dll
Language.dll
MIX/cache.mix
MIX/conquer.mix
MIX/ecache00.mix
MIX/ecache01.mix
MIX/ecache03.mix
MIX/ecache04.mix
MIX/expand00.mix
MIX/gmenu.mix
MIX/isosnow.mix
MIX/isotemp.mix
MIX/local.mix
MIX/movies.mix
MIX/scores.mix
MIX/scores01.mix
MIX/side01.mix
MIX/side02.mix
MIX/side03.mix
MIX/sidecd01.mix
MIX/sidecd02.mix
MIX/sidecd03.mix
MIX/sidenc01.mix
MIX/sidenc02.mix
MIX/sidenc03.mix
MIX/sounds.mix
MIX/speech01.mix
MIX/speech02.mix
MIX/speech03.mix
Map Editor/
Map Renderer/
# Карты
Maps/Co-Op/ayylmao.png
Maps/Co-Op/ayylmao_coop_easy.map
Maps/Co-Op/ayylmao_coop_hard.map
Maps/Co-Op/ayylmao_coop_medium.map
Maps/Co-Op/forsaken_1.png
Maps/Co-Op/forsaken_1_easy.map
Maps/Co-Op/forsaken_1_hard.map
Maps/Co-Op/forsaken_1_medium.map
Maps/Control Point/
Maps/Custom/
Maps/Default/
Maps/Missions/n14.old
Maps/Survival/
# 
ReadMe.txt
Resources/110pxbtn.png
Resources/110pxbtn_c.png
Resources/121pxbtn.png
Resources/121pxbtn_c.png
Resources/133pxbtn.png
Resources/133pxbtn_c.png
Resources/142pxbtn.png
Resources/142pxbtn_c.png
Resources/160pxbtn.png
Resources/160pxbtn_c.png
Resources/75pxbtn.png
Resources/75pxbtn_c.png
Resources/92pxbtn.png
Resources/92pxbtn_c.png
Resources/97pxbtn.png
Resources/97pxbtn_c.png
Resources/Binaries/
Resources/DDrawCompat_license.txt
Resources/DTACnCNetClient.ini
Resources/FScompatfix.sdb
Resources/ForumActive.png
Resources/ForumInactive.png
Resources/GDITheme/110pxbtn.png
Resources/GDITheme/110pxbtn_c.png
Resources/GDITheme/121pxbtn.png
Resources/GDITheme/121pxbtn_c.png
Resources/GDITheme/133pxbtn.png
Resources/GDITheme/133pxbtn_c.png
Resources/GDITheme/142pxbtn.png
Resources/GDITheme/142pxbtn_c.png
Resources/GDITheme/160pxbtn.png
Resources/GDITheme/160pxbtn_c.png
Resources/GDITheme/75pxbtn.png
Resources/GDITheme/75pxbtn_c.png
Resources/GDITheme/92pxbtn.png
Resources/GDITheme/92pxbtn_c.png
Resources/GDITheme/97pxbtn.png
Resources/GDITheme/97pxbtn_c.png
Resources/GDITheme/DTACnCNetClient.ini
Resources/GDITheme/MovableForm.ini
Resources/GDITheme/cncnetlobbybg.png
Resources/GDITheme/cncnetlobbypanelbg.png
Resources/GDITheme/comboBoxArrow.png
Resources/GDITheme/cursor.cur
Resources/GDITheme/cursor.png
Resources/GDITheme/followedgamesbg.png
Resources/GDITheme/gamecreationoptionsbg.png
Resources/GDITheme/gamecreationpanelbg.png
Resources/GDITheme/gamelobbybg.png
Resources/GDITheme/gamelobbyoptionspanelbg.png
Resources/GDITheme/gamelobbypanelbg.png
Resources/GDITheme/hideChannels_Down.png
Resources/GDITheme/hideChannels_Up.png
Resources/GDITheme/hotkeyconfigbg.png
Resources/GDITheme/launcherupdater.png
Resources/GDITheme/loadmissionbg.png
Resources/GDITheme/loadmpsavebg.png
Resources/GDITheme/loadmpsavepanelbg.png
Resources/GDITheme/logindialogbg.png
Resources/GDITheme/mapselbg.png
Resources/GDITheme/missionselectorbg.png
Resources/GDITheme/msgboxform.png
Resources/GDITheme/openedComboBoxArrow.png
Resources/GDITheme/optionsbg.png
Resources/GDITheme/optionspanel.png
Resources/GDITheme/passwordquerybg.png
Resources/GDITheme/privatemessagebg.png
Resources/GDITheme/rank.png
Resources/GDITheme/sbBackground.png
Resources/GDITheme/sbDownArrow.png
Resources/GDITheme/sbUpArrow.png
Resources/GDITheme/scoreviewerbg.png
Resources/GDITheme/scoreviewerpanelbg.png
Resources/GDITheme/slocindicator.png
Resources/GDITheme/slocindicatorh.png
Resources/GDITheme/trackbarButton.png
Resources/GDITheme/trackbarButton_difficulty.png
Resources/GDITheme/updatequerybg.png
Resources/GDITheme/updaterbg.png
Resources/GTTheme/110pxbtn.png
Resources/GTTheme/110pxbtn_c.png
Resources/GTTheme/121pxbtn.png
Resources/GTTheme/121pxbtn_c.png
Resources/GTTheme/133pxbtn.png
Resources/GTTheme/133pxbtn_c.png
Resources/GTTheme/142pxbtn.png
Resources/GTTheme/142pxbtn_c.png
Resources/GTTheme/160pxbtn.png
Resources/GTTheme/160pxbtn_c.png
Resources/GTTheme/75pxbtn.png
Resources/GTTheme/75pxbtn_c.png
Resources/GTTheme/92pxbtn.png
Resources/GTTheme/92pxbtn_c.png
Resources/GTTheme/97pxbtn.png
Resources/GTTheme/97pxbtn_c.png
Resources/GTTheme/DTACnCNetClient.ini
Resources/GTTheme/MovableForm.ini
Resources/GTTheme/cncnetlobbybg.png
Resources/GTTheme/cncnetlobbypanelbg.png
Resources/GTTheme/comboBoxArrow.png
Resources/GTTheme/cursor.cur
Resources/GTTheme/cursor.png
Resources/GTTheme/followedgamesbg.png
Resources/GTTheme/gamecreationoptionsbg.png
Resources/GTTheme/gamecreationpanelbg.png
Resources/GTTheme/gamelobbybg.png
Resources/GTTheme/gamelobbyoptionspanelbg.png
Resources/GTTheme/gamelobbypanelbg.png
Resources/GTTheme/hideChannels_Down.png
Resources/GTTheme/hideChannels_Up.png
Resources/GTTheme/hotkeyconfigbg.png
Resources/GTTheme/launcherupdater.png
Resources/GTTheme/loadmissionbg.png
Resources/GTTheme/loadmpsavebg.png
Resources/GTTheme/loadmpsavepanelbg.png
Resources/GTTheme/logindialogbg.png
Resources/GTTheme/mapselbg.png
Resources/GTTheme/missionselectorbg.png
Resources/GTTheme/msgboxform.png
Resources/GTTheme/openedComboBoxArrow.png
Resources/GTTheme/optionsbg.png
Resources/GTTheme/optionspanel.png
Resources/GTTheme/passwordquerybg.png
Resources/GTTheme/privatemessagebg.png
Resources/GTTheme/rank.png
Resources/GTTheme/sbBackground.png
Resources/GTTheme/sbDownArrow.png
Resources/GTTheme/sbUpArrow.png
Resources/GTTheme/scoreviewerbg.png
Resources/GTTheme/scoreviewerpanelbg.png
Resources/GTTheme/slocindicator.png
Resources/GTTheme/slocindicatorh.png
Resources/GTTheme/trackbarButton.png
Resources/GTTheme/trackbarButton_difficulty.png
Resources/GTTheme/updatequerybg.png
Resources/GTTheme/updaterbg.png
Resources/GenericWindow.ini
Resources/MainMenu/button.wav
Resources/MainMenu/tdcl.png
Resources/MainMenu/tdcr.png
Resources/MovableForm.ini
Resources/NodTheme/110pxbtn.png
Resources/NodTheme/110pxbtn_c.png
Resources/NodTheme/121pxbtn.png
Resources/NodTheme/121pxbtn_c.png
Resources/NodTheme/133pxbtn.png
Resources/NodTheme/133pxbtn_c.png
Resources/NodTheme/142pxbtn.png
Resources/NodTheme/142pxbtn_c.png
Resources/NodTheme/160pxbtn.png
Resources/NodTheme/160pxbtn_c.png
Resources/NodTheme/75pxbtn.png
Resources/NodTheme/75pxbtn_c.png
Resources/NodTheme/92pxbtn.png
Resources/NodTheme/92pxbtn_c.png
Resources/NodTheme/97pxbtn.png
Resources/NodTheme/97pxbtn_c.png
Resources/NodTheme/DTACnCNetClient.ini
Resources/NodTheme/MovableForm.ini
Resources/NodTheme/cncnetlobbybg.png
Resources/NodTheme/cncnetlobbypanelbg.png
Resources/NodTheme/comboBoxArrow.png
Resources/NodTheme/cursor.cur
Resources/NodTheme/cursor.png
Resources/NodTheme/followedgamesbg.png
Resources/NodTheme/gamecreationoptionsbg.png
Resources/NodTheme/gamecreationpanelbg.png
Resources/NodTheme/gamelobbybg.png
Resources/NodTheme/gamelobbyoptionspanelbg.png
Resources/NodTheme/gamelobbypanelbg.png
Resources/NodTheme/hideChannels_Down.png
Resources/NodTheme/hideChannels_Up.png
Resources/NodTheme/hotkeyconfigbg.png
Resources/NodTheme/launcherupdater.png
Resources/NodTheme/loadmissionbg.png
Resources/NodTheme/loadmpsavebg.png
Resources/NodTheme/loadmpsavepanelbg.png
Resources/NodTheme/logindialogbg.png
Resources/NodTheme/mapselbg.png
Resources/NodTheme/missionselectorbg.png
Resources/NodTheme/msgboxform.png
Resources/NodTheme/openedComboBoxArrow.png
Resources/NodTheme/optionsbg.png
Resources/NodTheme/optionspanel.png
Resources/NodTheme/passwordquerybg.png
Resources/NodTheme/privatemessagebg.png
Resources/NodTheme/rank.png
Resources/NodTheme/sbBackground.png
Resources/NodTheme/sbDownArrow.png
Resources/NodTheme/sbUpArrow.png
Resources/NodTheme/scoreviewerbg.png
Resources/NodTheme/scoreviewerpanelbg.png
Resources/NodTheme/slocindicator.png
Resources/NodTheme/slocindicatorh.png
Resources/NodTheme/trackbarButton.png
Resources/NodTheme/trackbarButton_difficulty.png
Resources/NodTheme/updatequerybg.png
Resources/NodTheme/updaterbg.png
Resources/Renderers.ini
Resources/SpriteFont0.xnb
Resources/SpriteFont1.xnb
Resources/SpriteFont2.xnb
Resources/SpriteFont3.xnb
Resources/SpriteFont4.xnb
Resources/ZLIB.License.txt
Resources/ZLIB.Ms-PL.txt
Resources/aqrit.cfg
Resources/ban.png
Resources/ban_c.png
Resources/button.wav
Resources/cheater.png
Resources/cheaterbg.png
Resources/checkBoxChecked.png
Resources/checkBoxCheckedD.png
Resources/checkBoxClear.png
Resources/checkBoxClearD.png
Resources/checkbox.wav
Resources/clientdx.exe
Resources/clienticon.ico
Resources/clientogl.exe
Resources/clientxna.exe
Resources/cnc_ddraw.dll
Resources/cnc_ddraw.ini
Resources/cncnetlobbybg.png
Resources/cncnetlobbypanelbg.png
Resources/comboBoxArrow.png
Resources/compatfix.sdb
Resources/cursor.cur
Resources/cursor.png
Resources/ddraw.ini
Resources/ddraw_dxwnd.dll
Resources/ddraw_nohw.dll
Resources/ddrawcompat.dll
Resources/ddwrapper.dll
Resources/discordActive.png
Resources/discordInactive.png
Resources/dropdown.wav
Resources/dtaicon.png
Resources/dxwnd.dll
Resources/dxwnd.ini
Resources/ecache01.mix
Resources/ecache02.mix
Resources/enemyslocindicator.png
Resources/expand02.mix
Resources/facebookActive.png
Resources/facebookInactive.png
Resources/followedgamesbg.png
Resources/forsakenicon.png
Resources/forumsActive.png
Resources/forumsInactive.png
Resources/friendicon.png
Resources/gamecreated.wav
Resources/gamecreationoptionsbg.png
Resources/gamecreationpanelbg.png
Resources/gameinprogresswindowbg.png
Resources/gamelobbybg.png
Resources/gamelobbyoptionspanelbg.png
Resources/gamelobbypanelbg.png
Resources/gdiicon.png
Resources/globotechicon.png
Resources/googlePlusActive.png
Resources/googlePlusInactive.png
Resources/gticon.png
Resources/hideChannels_Down.png
Resources/hideChannels_Up.png
Resources/homepageActive.png
Resources/homepageInactive.png
Resources/hotkeyconfigbg.png
Resources/ie_ddraw.dll
Resources/ignoreicon.png
Resources/incompatible.png
Resources/joingame.wav
Resources/kick.png
Resources/kick_c.png
Resources/l600s01.pcx
Resources/l600s02.pcx
Resources/l600s03.pcx
Resources/l600s04.pcx
Resources/l600s05.pcx
Resources/l600s11.pcx
Resources/l600s12.pcx
Resources/l600s13.pcx
Resources/l600s14.pcx
Resources/l600s15.pcx
Resources/l600s21.pcx
Resources/l600s22.pcx
Resources/l600s23.pcx
Resources/l600s24.pcx
Resources/l600s25.pcx
Resources/launcherupdater.png
Resources/leavegame.wav
Resources/libwine.dll
Resources/loadingscreen.png
Resources/loadmissionbg.png
Resources/loadmpsavebg.png
Resources/loadmpsavepanelbg.png
Resources/lockedgame.png
Resources/logindialogbg.png
Resources/mainmenu.wma
Resources/mainmenu.xnb
Resources/mapselbg.png
Resources/message.wav
Resources/missionselectorbg.png
Resources/moddbActive.png
Resources/moddbInactive.png
Resources/msgboxform.png
Resources/nodicon.png
Resources/nopreview.png
Resources/openedComboBoxArrow.png
Resources/optionsbg.png
Resources/optionspanel.png
Resources/passwordedgame.png
Resources/passwordquerybg.png
Resources/pm.wav
Resources/privatemessagebg.png
Resources/randomicon.png
Resources/rank.png
Resources/rankEasy.png
Resources/rankHard.png
Resources/rankNone.png
Resources/rankNormal.png
Resources/sbBackground.png
Resources/sbDownArrow.png
Resources/sbMiddle.png
Resources/sbThumbBottom.png
Resources/sbThumbBottomSpan.png
Resources/sbThumbTop.png
Resources/sbThumbTopSpan.png
Resources/sbUpArrow.png
Resources/scoreviewerbg.png
Resources/scoreviewerpanelbg.png
Resources/slocindicator.png
Resources/slocindicator1.png
Resources/slocindicator2.png
Resources/slocindicator3.png
Resources/slocindicator4.png
Resources/slocindicator5.png
Resources/slocindicator6.png
Resources/slocindicator7.png
Resources/slocindicator8.png
Resources/slocindicatorh.png
Resources/slocindicatorx.png
Resources/spectatoricon.png
Resources/splashScreen.png
Resources/tiicon.png
Resources/trackbarButton.png
Resources/trackbarButton_difficulty.png
Resources/trackbarbg.png
Resources/ts_ddraw.dll
Resources/ts_ddraw.ini
Resources/tsicon.png
Resources/twitterActive.png
Resources/twitterInactive.png
Resources/updatequerybg.png
Resources/updaterbg.png
Resources/usaicon.png
Resources/wined3d.dll
Resources/youtubeActive.png
Resources/youtubeInactive.png
Saved Games/
Screenshots/
TI.ini
TICredits.txt
Tunnel Drawer/
TwistedInsurrection.exe
changelog.txt
clientupdt.dat
ddraw_credits.txt
game.exe
qres license.txt
qres.dat
qres32.dll
updateconfig.ini
version